<html>
<head>
  <title>Joetz</title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">

    <link rel="stylesheet" type="text/css" href="/stylesheets/flexslider.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="/javascripts/jquery.flexslider.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="/javascripts/angular-flexslider.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>


    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="/javascripts/angularapp.js"></script>


</head>
<body ng-app="Joetz">
  <div class="demo-layout-transparent mdl-layout mdl-js-layout">


    <div class='centered'>
      <img src='/images/JoetzLogo.jpg' height="100px" align-self='center'/>
    </div>
    <div id="w" class="header">
    <header id="top">

      <nav class="mdl-navigation" ng-controller="NavCtrl">
        <ul id="nav">
          <li><a id="home" href="/#/home" >Home</a></li>
          <li ng-show='isbeheerder()'><a id="kamp toevoegen" href="/#/kampToevoegen">Kamp Toevoegen</a></li>
          <li ng-show='isbeheerder()'><a id="monitor toevoegen" href="/#/registerMonitor">Monitor Toevoegen</a></li>
          <li ng-show='ismoderator()'><a id="mijn activiteiten" href="/#/mijnActiviteiten">mijn activiteiten</a></li>
          <li ng-show='islid()'><a id="mijn inschrijvingen" href="/#/mijnInschrijvingen">mijn inschrijvingen</a></li>
          <li><a id="contact" href="/#/contact">Contact Us</a></li>
          <li ng-show='LoggedIn()'><a href="/#/account">{{ usernaam() }}</a></li>
          <li ng-show='LoggedIn()'><a href="" ng-click="logOut()">Log Out</a></li>
          <li ng-hide='LoggedIn()'><a id="register" href="/#/register">Registreer</a></li>
          <li ng-hide='LoggedIn()'><a id="login" href="/#/login">login</a></li>
        </ul>
      </nav>
    </header>
  </div>
    <main class="mdl-layout__content">

        <ui-view></ui-view>

    </main>
  </div>

<script type="text/ng-template" id="/home.html">
    <section class="gallery">
        <article class="pod" ng-repeat="kamp in kampen">
            <a href="#/kampen/{{kamp._id}}">
                <header>
                    <img ng-src={{kamp.sfeerfoto}} alt="">
                </header>
                <p>{{kamp.naam}}</p>
            </a>
        </article>
    </section>
</script>

<script type="text/ng-template" id="/kamp.html">
      <div class="col-md-6 col-md-offset-3">
        <h3 class='centered'>{{kamp.naam}}</h3>
        <flex-slider slider-id="slider" flex-slide="foto in fotos track by foto._id" animation="fade" animation-loop="false" sync="#carousel" slideshow="false" control-nav="false" init-delay="100">
          <li>
            <img ng-src="{{foto.url}}">
          </li>
        </flex-slider>
        <flex-slider slider-id="carousel" flex-slide="foto in fotos track by foto._id" animation="slide" animation-loop="false" item-width="210" item-margin="5" as-nav-for="#slider" slideshow="false" control-nav="false">
          <li>
            <img ng-src="{{foto.url}}">
          </li>
        </flex-slider>

      <table>
          <label>omschrijving:</label>
          <label>{{kamp.omschrijving}}</label>
        <tr>
          <td>straat:</td>
          <td>{{kamp.adres.straat}}</td>
        </tr>
        <tr>
          <td>huisnummer:</td>
          <td>{{kamp.adres.huisnummer}}</td>
        </tr>
        <tr>
          <td>bus:</td>
          <td>{{kamp.adres.bus}}</td>
        </tr>
        <tr>
          <td>postcode:</td>
          <td>{{kamp.adres.postcode}}</td>
        </tr>
        <tr>
          <td>gemeente:</td>
          <td>{{kamp.adres.gemeente}}</td>
        </tr>
        <tr>
          <td>start datum:</td>
          <td>{{kamp.startDatum}}</td>
        </tr>
        <tr>
          <td>einbd datum:</td>
          <td>{{kamp.eindDatum}}</td>
        </tr>
        <tr>
          <td>aantal dagen:</td>
          <td>{{kamp.aantalDagen}}</td>
        </tr>
        <tr>
          <td>aantal nachten:</td>
          <td>{{kamp.aantalNachten}}</td>
        </tr>
        <tr>
          <td>vervoer:</td>
          <td>{{kamp.vervoer}}</td>
        </tr>
        <tr>
          <td>formule:</td>
          <td>{{kamp.formule}}</td>
        </tr>
        <tr>
          <td>basis prijs:</td>
          <td>{{kamp.basisPrijs}}</td>
        </tr>
        <tr>
          <td>bond prijs:</td>
          <td>{{kamp.bondPrijs}}</td>
        </tr>
        <tr>
          <td>kortingen:</td>
          <td>{{kamp.kortingen}}</td>
        </tr>
        <tr>
          <td>in de prijs inbegrepen:</td>
          <td>{{kamp.inbegrepenInPrijs}}</td>
        </tr>
        <tr>
          <td>minimum leeftijd:</td>
          <td>{{kamp.minLeeftijd}}</td>
        </tr>
        <tr>
          <td>maximum leeftijd:</td>
          <td>{{kamp.maxLeeftijd}}</td>
        </tr>
        <tr>
          <td>maximum deelnemers:</td>
          <td>{{kamp.maxDeelnemers}}</td>
        </tr>
        <tr>
          <td>contacteer ons:</td>
          <td>{{kamp.contact}}</td>
        </tr>
    </table>
        <h5 ng-show='isbeheerder()' class='centered'>Activiteiten</h5>
    <table>
        <tr ng-show='isbeheerder()'>
          <td>Naam</td>
          <td>Locatie</td>
        </tr>
        <tr class='clickable' ng-repeat="activiteit in activiteiten" ng-click="go(activiteit)" ng-show='isbeheerder()'>
            <td>{{activiteit.naam}}</td>
            <td>{{activiteit.locatie}}</td>
        </tr>
    </table>
    <div class="voeter">
      <a class="btn" ng-show='isbeheerder()' ng-style="{display: inline-block}"  href="#/kampaanpassen/{{kamp._id}}" class="button">Aanpassen</a>
      <a class="btn" ng-show='!islid()' ng-style="{display: inline-block}"  href="#/kamp/{{kamp._id}}/activiteittoevoegen" class="button">Activiteit Toevoegen</a>
      <button ng-click="moderator()" ng-show="ismoderator()" ng-style="{display: inline-block}" class="btn">geinterreseerd</button>
      <a class="btn" ng-show='islid()' ng-style="{display: inline-block}"  href="#/kampen/{{kamp._id}}/inschrijving" class="button">inschrijven</a>
      <a class="btn" ng-show='!islid()' ng-style="{display: inline-block}"  href="#/kampInschrijvingen/{{kamp._id}}" class="button">inschrijvingen</a>
    </div>
  </div>
</script>

<script type="text/ng-template" id="/contact.html">
      <div class="col-md-6 col-md-offset-3">

        <table>
          <tr>
            <h3>Contact info</h3>
          </tr>
            <tr>
              <td>telefoonnummer:</td>
              <td>056/27.47.00</td>
            </tr>
            <tr>
              <td>email:</td>
              <td>joetz.west@joetz.be</td>
            </tr>
        </table>
  </div>
</script>

<script type="text/ng-template" id="/kampaanpassen.html">
  <div class="col-md-6 col-md-offset-3">
    <form name="kampForm" ng-submit="aanpassen()" style="margin-top:30px;" enctype="multipart/form-data" novalidate>
      <h3>Kamp Aanpassen</h3>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.naam.$invalid && !kampForm.naam.$pristine }">
        <label>Naam:</label>
        <input name="naam" type="text" class="form-control"  placeholder="Naam v/h kamp" ng-model="kamp.naam" required></input>
        <p ng-show="kampForm.naam.$invalid && !kampForm.naam.$pristine" class="help-block">Naam moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.omschrijving.$invalid && !kampForm.omschrijving.$pristine }">
        <label>Omschrijving:</label>
        <textarea class="form-control" name="omschrijving" type="text" placeholder="omschrijving v/h kamp" ng-model="kamp.omschrijving" ng-minlength="10"></textarea>
        <p ng-show="kampForm.omschrijving.$error.minlength && !kampForm.omschrijving.$pristine" class="help-block">Omschrijving moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.straat.$invalid && !kampForm.straat.$pristine }">
        <label>Straat:</label>
        <input name="straat" type="text" class="form-control" placeholder="straat" ng-model="adres.straat" ng-pattern="/^[a-zA-Z\s]*$/" required></input>
        <p ng-show="kampForm.straat.$error.pattern" class="help-block">Gelieve om Huisnummer & Bus in de aangegeven velden in te vullen.</p>
        <p ng-show="kampForm.straat.$error.required && !kampForm.straat.$pristine" class="help-block">Straat moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.huisnummer.$invalid && !kampForm.huisnummer.$pristine }">
        <label>Huisnummer:</label>
        <input name="huisnummer" type="text" class="form-control" placeholder="huisnummer" ng-model="adres.huisnummer" ng-pattern="/^[0-9]{1,3}$/" required></input>
        <p ng-show="kampForm.huisnummer.$error.pattern" class="help-block">Huisnummer moet een nummer zijn.</p>
        <p ng-show="kampForm.huisnummer.$error.required && !kampForm.huisnummer.$pristine" class="help-block">Huisnummer moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.bus.$invalid && !kampForm.bus.$pristine }">
        <label>Bus:</label>
        <input type="text" class="form-control" placeholder="bus" ng-model="adres.bus"ng-pattern="/^[0-9]{1,3}$/"></input>
        <p ng-show="kampForm.bus.$error.pattern" class="help-block">Bus moet een nummer zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.gemeente.$invalid && !kampForm.gemeente.$pristine }">
        <label>Gemeente:</label>
        <input name="gemeente" type="text" class="form-control" placeholder="gemeente" ng-model="adres.gemeente" ng-pattern="/^[a-zA-Z\s]*$/" required></input>
        <p ng-show="kampForm.gemeente.$error.pattern" class="help-block">Gelieve de postcode in het aangegeven veld in te geven.</p>
        <p ng-show="kampForm.gemeente.$error.required  && !kampForm.gemeente.$pristine" class="help-block">Gemeente moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.postcode.$invalid && !kampForm.postcode.$pristine }">
        <label>Postcode:</label>
        <input name="postcode" type="text" class="form-control" placeholder="postcode" ng-model="adres.postcode" ng-pattern="/^[0-9]{4}$/" required></input>
        <p ng-show="kampForm.postcode.$error.pattern" class="help-block">Poscode moet een nummer zijn.</p>
        <p ng-show="kampForm.postcode.$error.required  && !kampForm.postcode.$pristine" class="help-block">Postcode moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.startdatum.$invalid && !kampForm.startdatum.$pristine || error }">
        <label>Start datum:</label>
        <input name="startdatum" type="date" class="form-control" placeholder="start datum" ng-model="kamp.startDatum" required></input>
        <p ng-show="kampForm.startDatum.$error.required  && !kampForm.startDatum.$pristine" class="help-block">Datum moet ingegeven zijn.</p>
        <p ng-show="error" class="help-block">De datums moeten na vandaag liggen! En de einddatum moet na de begin datum liggen!</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.einddatum.$invalid && !kampForm.einddatum.$pristine || error }">
        <label>Eind datum:</label>
        <input name="einddatum" type="date" class="form-control" placeholder="eind datum" ng-model="kamp.eindDatum" required></input>
        <p ng-show="kampForm.eindDatum.$error.required  && !kampForm.eindDatum.$pristine" class="help-block">Datum moet ingegeven zijn</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.aantaldagen.$invalid && !kampForm.aantaldagen.$pristine || error }">
        <label>Aantal dagen:</label>
        <input name="aantaldagen" type="text" class="form-control" placeholder="aantal dagen" ng-model="kamp.aantalDagen" ng-pattern="/^[0-9]{1,2}$/" required></input>
        <p ng-show="kampForm.aantaldagen.$error.pattern" class="help-block">Het aantal dagen moet een nummer zijn.</p>
        <p ng-show="kampForm.aantaldagen.$error.required  && !kampForm.aantaldagen.$pristine" class="help-block">Het aantal dagen moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.aantalnachten.$invalid && !kampForm.aantalnachten.$pristine }">
        <label>Aantal nachten:</label>
        <input name="aantalnachten" type="text" class="form-control" placeholder="aantal nachten" ng-model="kamp.aantalNachten" ng-pattern="/^[0-9]{1,2}$/" required></input>
        <p ng-show="kampForm.aantalnachten.$error.pattern" class="help-block">Het aantal nachten moet een nummer zijn.</p>
        <p ng-show="kampForm.aantalnachten.$error.required  && !kampForm.aantalnachten.$pristine" class="help-block">Het aantal nachten moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.vervoer.$invalid && !kampForm.vervoer.$pristine }">
        <label>Vervoer:</label>
        <input name='vervoer' type="text" class="form-control" placeholder="welk vervoer wordt er gebruikt" ng-model="kamp.vervoer" required></input>
        <p ng-show="kampForm.vervoer.$invalid && !kampForm.vervoer.$pristine" class="help-block">Vervoer moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.formule.$invalid && !kampForm.formule.$pristine }">
        <label>Formule:</label>
        <input class="form-control" name='formule' type="text"  placeholder="formule" ng-model="kamp.formule" required></input>
        <p ng-show="kampForm.formule.$invalid && !kampForm.formule.$pristine" class="help-block">Formule moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.basisprijs.$invalid && !kampForm.basisprijs.$pristine }">
        <label>Basis prijs:</label>
        <input name="basisprijs" type="text" class="form-control" placeholder="basis prijs" ng-model="kamp.basisPrijs" ng-pattern="/^[0-9]{1,4}$/" required></input>
        <p ng-show="kampForm.basisprijs.$error.pattern" class="help-block">basis prijs moet een nummer zijn.</p>
        <p ng-show="kampForm.basisprijs.$error.required  && !kampForm.basisprijs.$pristine" class="help-block">basis prijs moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.bondprijs.$error.$invalid && !kampForm.bondprijs.$pristine }">
        <label>Bond prijs</label>
        <input name="bondprijs" type="text" class="form-control" placeholder="bond prijzen" ng-model="kamp.bondPrijs" required></input>
        <p ng-show="kampForm.bondprijs.$error.required  && !kampForm.bondprijs.$pristine" class="help-block">bond prijs moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.kortingen.$error.$invalid && !kampForm.kortingen.$pristine }" >
        <label>Kortingen:</label>
        <input name="kortingen" type="text" class="form-control" placeholder="kortingen" ng-model="kamp.kortingen" required></input>
        <p ng-show="kampForm.kortingen.$error.required  && !kampForm.kortingen.$pristine" class="help-block">bond prijs moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.inprijs.$error.$invalid  && !kampForm.inprijs.$pristine }">
        <label>Inbegrepen in de prijs:</label>
        <textarea name="inprijs" type="text" class="form-control" placeholder="inbegrepen in de prijs" ng-model="kamp.inbegrepenInPrijs" ng-minlength="10"></textarea>
        <p ng-show="kampForm.inprijs.$error.minlength  && !kampForm.inprijs.$pristine" class="help-block">Wat is inbegrepen in de prijs moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.minleeftijd.$invalid && !kampForm.minleeftijd.$pristine }">
        <label>Minimum leeftijd deelnemers</label>
        <input name="minleeftijd" type="text" class="form-control" placeholder="minimum leeftijd van de deelnemers" ng-model="kamp.minLeeftijd" ng-pattern="/^[0-9]{1,2}$/" required></input>
        <p ng-show="kampForm.minleeftijd.$error.pattern" class="help-block">minimum leeftijd moet een nummer zijn.</p>
        <p ng-show="kampForm.minleeftijd.$error.required  && !kampForm.minleeftijd.$pristine" class="help-block">De minimum leeftijd moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.maxleeftijd.$invalid && !kampForm.maxleeftijd.$pristine }" >
        <label>Maximum leeftijd deelnemers</label>
        <input name="maxleeftijd" type="text" class="form-control" placeholder="Maximum leeftijd van de deelnemers" ng-model="kamp.maxLeeftijd" required></input>
        <p ng-show="kampForm.maxleeftijd.$error.pattern" class="help-block">maximum leeftijd moet een nummer zijn.</p>
        <p ng-show="kampForm.maxleeftijd.$error.required  && !kampForm.maxleeftijd.$pristine" class="help-block">De maximum leeftijd moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.maxdeelnemers.$invalid && !kampForm.maxdeelnemers.$pristine }">
        <label>Maximum aantal deelnemers</label>
        <input name="maxdeelnemers" type="text" class="form-control" placeholder="maximum aantal deelnemers" ng-model="kamp.maxDeelnemers" ng-pattern="/^[0-9]{1,2}$/" required></input>
        <p ng-show="kampForm.maxdeelnemers.$error.pattern" class="help-block">Het maximum aantal deelnemers moet een nummer zijn.</p>
        <p ng-show="kampForm.maxdeelnemers.$error.required  && !kampForm.maxdeelnemers.$pristine" class="help-block">Het maximum aantal deelnemers moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.contact.$error.$invalid && !kampForm.contact.$pristine }">
        <label>Contact:</label>
        <input name="contact" type="text" class="form-control" placeholder="contact info" ng-model="kamp.contact"></input>
        <p ng-show="kampForm.contact.$error.required  && !kampForm.contact.$pristine" class="help-block">De contact info moet ingevuld zijn.</p>
      </div>
      <div class="form-group">
        <label>Sfeerfoto:</label>
        <label>Dit zal de oude sfeerfoto overschrijven.</label>
        <input type="file" accept="image/*" file-models="kamp.sfeerfoto"/>
      </div>
      <div class="form-group">
        <label>Foto's:</label>
        <label>Dit zal de oude foto4s overschrijven.</label>
        <input type="file" accept="image/*" file-models="fotos" multiple/>
      </div>
      <button type="submit" class="btn" ng-disabled="kampForm.$invalid">Opslaan</button>
      </form>
    </div>
</script>

<script type="text/ng-template" id="/kamptoevoegen.html">
  <div class="col-md-6 col-md-offset-3">
    <form name="kampForm" ng-submit="addKamp()" style="margin-top:30px;" enctype="multipart/form-data" novalidate>
      <h3>Kamp toevoegen</h3>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.naam.$invalid && !kampForm.naam.$pristine }">
        <label>Naam:</label>
        <input name="naam" type="text" class="form-control" placeholder="Naam v/h kamp" ng-model="kamp.naam" required></input>
        <p ng-show="kampForm.naam.$invalid && !kampForm.naam.$pristine" class="help-block">Naam moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.omschrijving.$invalid && !kampForm.omschrijving.$pristine }">
        <label>Omschrijving:</label>
        <textarea class="form-control" name="omschrijving" type="text"  placeholder="omschrijving v/h kamp" ng-model="kamp.omschrijving" ng-minlength="10"></textarea>
        <p ng-show="kampForm.omschrijving.$error.minlength && !kampForm.omschrijving.$pristine" class="help-block">Omschrijving moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.straat.$invalid && !kampForm.straat.$pristine }">
        <label>Straat:</label>
        <input name="straat" type="text" class="form-control" placeholder="straat" ng-model="adres.straat" ng-pattern="/^[a-zA-Z\s]*$/" required></input>
        <p ng-show="kampForm.straat.$error.pattern" class="help-block">Gelieve om Huisnummer & Bus in de aangegeven velden in te vullen.</p>
        <p ng-show="kampForm.straat.$error.required && !kampForm.straat.$pristine" class="help-block">Straat moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.huisnummer.$invalid && !kampForm.huisnummer.$pristine }">
        <label>Huisnummer:</label>
        <input name="huisnummer" type="text" class="form-control" placeholder="huisnummer" ng-model="adres.huisnummer" ng-pattern="/^[0-9]{1,3}$/" required></input>
        <p ng-show="kampForm.huisnummer.$error.pattern" class="help-block">Huisnummer moet een nummer zijn.</p>
        <p ng-show="kampForm.huisnummer.$error.required && !kampForm.huisnummer.$pristine" class="help-block">Huisnummer moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.bus.$invalid && !kampForm.bus.$pristine }">
        <label>Bus:</label>
        <input type="text" class="form-control" placeholder="bus" ng-model="adres.bus"ng-pattern="/^[0-9]{1,3}$/"></input>
        <p ng-show="kampForm.bus.$error.pattern" class="help-block">Bus moet een nummer zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.gemeente.$invalid && !kampForm.gemeente.$pristine }">
        <label>Gemeente:</label>
        <input name="gemeente" type="text" class="form-control" placeholder="gemeente" ng-model="adres.gemeente" ng-pattern="/^[a-zA-Z\s]*$/" required></input>
        <p ng-show="kampForm.gemeente.$error.pattern" class="help-block">Gelieve de postcode in het aangegeven veld in te geven.</p>
        <p ng-show="kampForm.gemeente.$error.required  && !kampForm.gemeente.$pristine" class="help-block">Gemeente moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.postcode.$invalid && !kampForm.postcode.$pristine }">
        <label>Postcode:</label>
        <input name="postcode" type="text" class="form-control" placeholder="postcode" ng-model="adres.postcode" ng-pattern="/^[0-9]{4}$/" required></input>
        <p ng-show="kampForm.postcode.$error.pattern" class="help-block">Poscode moet een nummer zijn.</p>
        <p ng-show="kampForm.postcode.$error.required  && !kampForm.postcode.$pristine" class="help-block">Postcode moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.startdatum.$invalid && !kampForm.startdatum.$pristine || error }">
        <label>Start datum:</label>
        <input name="startdatum" type="date" class="form-control" placeholder="start datum" ng-model="kamp.startDatum" required></input>
        <p ng-show="kampForm.startDatum.$error.required  && !kampForm.startDatum.$pristine" class="help-block">Datum moet ingegeven zijn.</p>
        <p ng-show="error" class="help-block">De datums moeten na vandaag liggen! En de einddatum moet na de begin datum liggen!</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.einddatum.$invalid && !kampForm.einddatum.$pristine || error }">
        <label>Eind datum:</label>
        <input name="einddatum" type="date" class="form-control" placeholder="eind datum" ng-model="kamp.eindDatum" required></input>
        <p ng-show="kampForm.eindDatum.$error.required  && !kampForm.eindDatum.$pristine" class="help-block">Datum moet ingegeven zijn</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.aantaldagen.$invalid && !kampForm.aantaldagen.$pristine || error }">
        <label>Aantal dagen:</label>
        <input name="aantaldagen" type="text" class="form-control" placeholder="aantal dagen" ng-model="kamp.aantalDagen" ng-pattern="/^[0-9]{1,2}$/" required></input>
        <p ng-show="kampForm.aantaldagen.$error.pattern" class="help-block">Het aantal dagen moet een nummer zijn.</p>
        <p ng-show="kampForm.aantaldagen.$error.required  && !kampForm.aantaldagen.$pristine" class="help-block">Het aantal dagen moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.aantalnachten.$invalid && !kampForm.aantalnachten.$pristine }">
        <label>Aantal nachten:</label>
        <input name="aantalnachten" type="text" class="form-control" placeholder="aantal nachten" ng-model="kamp.aantalNachten" ng-pattern="/^[0-9]{1,2}$/" required></input>
        <p ng-show="kampForm.aantalnachten.$error.pattern" class="help-block">Het aantal nachten moet een nummer zijn.</p>
        <p ng-show="kampForm.aantalnachten.$error.required  && !kampForm.aantalnachten.$pristine" class="help-block">Het aantal nachten moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.vervoer.$invalid && !kampForm.vervoer.$pristine }">
        <label>Vervoer:</label>
        <input name='vervoer' type="text" class="form-control" placeholder="welk vervoer wordt er gebruikt" ng-model="kamp.vervoer" required></input>
        <p ng-show="kampForm.vervoer.$invalid && !kampForm.vervoer.$pristine" class="help-block">Vervoer moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.formule.$invalid && !kampForm.formule.$pristine }">
        <label>Formule:</label>
        <input class="form-control" name='formule' type="text"  placeholder="formule" ng-model="kamp.formule" required></input>
        <p ng-show="kampForm.formule.$invalid && !kampForm.formule.$pristine" class="help-block">Formule moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.basisprijs.$invalid && !kampForm.basisprijs.$pristine }">
        <label>Basis prijs:</label>
        <input name="basisprijs" type="text" class="form-control" placeholder="basis prijs" ng-model="kamp.basisPrijs" ng-pattern="/^[0-9]{1,4}$/" required></input>
        <p ng-show="kampForm.basisprijs.$error.pattern" class="help-block">basis prijs moet een nummer zijn.</p>
        <p ng-show="kampForm.basisprijs.$error.required  && !kampForm.basisprijs.$pristine" class="help-block">basis prijs moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.bondprijs.$error.$invalid && !kampForm.bondprijs.$pristine }">
        <label>Bond prijs</label>
        <input name="bondprijs" type="text" class="form-control" placeholder="bond prijzen" ng-model="kamp.bondPrijs" required></input>
        <p ng-show="kampForm.bondprijs.$error.required  && !kampForm.bondprijs.$pristine" class="help-block">bond prijs moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.kortingen.$error.$invalid && !kampForm.kortingen.$pristine }" >
        <label>Kortingen:</label>
        <input name="kortingen" type="text" class="form-control" placeholder="kortingen" ng-model="kamp.kortingen" required></input>
        <p ng-show="kampForm.kortingen.$error.required  && !kampForm.kortingen.$pristine" class="help-block">bond prijs moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.inprijs.$error.$invalid  && !kampForm.inprijs.$pristine }">
        <label>Inbegrepen in de prijs:</label>
        <textarea name="inprijs" type="text" class="form-control" placeholder="inbegrepen in de prijs" ng-model="kamp.inbegrepenInPrijs" ng-minlength="10"></textarea>
        <p ng-show="kampForm.inprijs.$error.minlength  && !kampForm.inprijs.$pristine" class="help-block">Wat is inbegrepen in de prijs moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.minleeftijd.$invalid && !kampForm.minleeftijd.$pristine }">
        <label>Minimum leeftijd deelnemers</label>
        <input name="minleeftijd" type="text" class="form-control" placeholder="minimum leeftijd van de deelnemers" ng-model="kamp.minLeeftijd" ng-pattern="/^[0-9]{1,2}$/" required></input>
        <p ng-show="kampForm.minleeftijd.$error.pattern" class="help-block">minimum leeftijd moet een nummer zijn.</p>
        <p ng-show="kampForm.minleeftijd.$error.required  && !kampForm.minleeftijd.$pristine" class="help-block">De minimum leeftijd moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.maxleeftijd.$invalid && !kampForm.maxleeftijd.$pristine }" >
        <label>Maximum leeftijd deelnemers</label>
        <input name="maxleeftijd" type="text" class="form-control" placeholder="Maximum leeftijd van de deelnemers" ng-model="kamp.maxLeeftijd" required></input>
        <p ng-show="kampForm.maxleeftijd.$error.pattern" class="help-block">maximum leeftijd moet een nummer zijn.</p>
        <p ng-show="kampForm.maxleeftijd.$error.required  && !kampForm.maxleeftijd.$pristine" class="help-block">De maximum leeftijd moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.maxdeelnemers.$invalid && !kampForm.maxdeelnemers.$pristine }">
        <label>Maximum aantal deelnemers</label>
        <input name="maxdeelnemers" type="text" class="form-control" placeholder="maximum aantal deelnemers" ng-model="kamp.maxDeelnemers" ng-pattern="/^[0-9]{1,2}$/" required></input>
        <p ng-show="kampForm.maxdeelnemers.$error.pattern" class="help-block">Het maximum aantal deelnemers moet een nummer zijn.</p>
        <p ng-show="kampForm.maxdeelnemers.$error.required  && !kampForm.maxdeelnemers.$pristine" class="help-block">Het maximum aantal deelnemers moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : kampForm.contact.$error.$invalid && !kampForm.contact.$pristine }">
        <label>Contact:</label>
        <input name="contact" type="text" class="form-control" placeholder="contact info" ng-model="kamp.contact"></input>
        <p ng-show="kampForm.contact.$error.required  && !kampForm.contact.$pristine" class="help-block">De contact info moet ingevuld zijn.</p>
      </div>
      <div class="form-group">
        <label>Sfeerfoto</label>
        <input type="file" accept="image/*" file-models="kamp.sfeerfoto"/>
      </div>
      <div class="form-group">
        <label>Foto's</label>
        <input type="file" accept="image/*" file-models="fotos" multiple/>
      </div>
      <button type="submit" class="btn" ng-disabled="kampForm.$invalid">Opslaan</button>
      </form>

    </div>
</script>

<script type="text/ng-template" id="/register.html">
  <div class="col-md-6 col-md-offset-3">
    <div ng-show="error" class="alert alert-danger row">
      <span>{{ error.message }}</span>
    </div>

    <form name="registerForm" ng-submit="register()" style="margin-top:30px;" novalidate>
      <h3>Register</h3>
      <div class="form-group" ng-class="{ 'has-error' : registerForm.email.$invalid && !registerForm.email.$pristine }">
        <label>Email:</label>
        <input name="email" type="email" class="form-control" placeholder="email" ng-model="user.email" required></input>
        <p ng-show="registerForm.email.$invalid && !registerForm.email.$pristine" class="help-block">Gelieve een email adres in te vullen.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : registerForm.passwoord.$invalid && !registerForm.passwoord.$pristine }">
        <label>Passwoord:</label>
        <input id="passwoord" name="passwoord" type="password" class="form-control" placeholder="Passwoord" ng-model="user.password" ng-pattern="/^(?=.*\d)(?=.*[a-zA-Z]).{6,50}$/" required></input>
        <p ng-show="registerForm.passwoord.$error.pattern" class="help-block">Passwoord moet tussen de 6 en 20 tekens lang zijn en moet een cijfer, een teken, een kleine letter en een hoofdletter hebben.</p>
        <p ng-show="registerForm.passwoord.$error.required && !registerForm.passwoord.$pristine" class="help-block">Gelieve een passwoord in te vullen.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : registerForm.bpasswoord.$invalid && !registerForm.bpasswoord.$pristine }">
        <label>Bevestig passwoord:</label>
        <input name="bpasswoord" type="password" class="form-control" placeholder="bevestig Passwoord" ng-model="user.bevestigpassword" data-password-verify="user.password" required></input>
        <p ng-show="registerForm.bpasswoord.$error.required && !registerForm.bpasswoord.$pristine" class="help-block">Gelieve een bevestigings passwoord in te vullen.</p>
        <p ng-show="registerForm.bpasswoord.$error.passwordVerify" class="help-block">Passwoorden zijn niet hetzelfde.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : registerForm.naam.$invalid && !registerForm.naam.$pristine }">
        <label>Naam:</label>
        <input name='naam'type="text" class="form-control" placeholder="naam" ng-model="user.naam" required></input>
        <p ng-show="registerForm.naam.$error.required && !registerForm.naam.$pristine" class="help-block">Gelieve uw naam in te vullen.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : registerForm.voornaam.$invalid && !registerForm.voornaam.$pristine }">
        <label>Voornaam:</label>
        <input name="voornaam" type="text" class="form-control" placeholder="voornaam" ng-model="user.voornaam" required></input>
        <p ng-show="registerForm.voornaam.$error.required && !registerForm.voornaam.$pristine" class="help-block">Gelieve uw naam in te vullen.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : registerForm.straat.$invalid && !registerForm.straat.$pristine }">
        <label>Straat:</label>
        <input name="straat" type="text" class="form-control" placeholder="straat" ng-model="adres.straat" ng-pattern="/^[a-zA-Z\s]*$/" required></input>
        <p ng-show="registerForm.straat.$error.pattern" class="help-block">Gelieve om Huisnummer & Bus in de aangegeven velden in te vullen.</p>
        <p ng-show="registerForm.straat.$error.required && !registerForm.straat.$pristine" class="help-block">Straat moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : registerForm.huisnummer.$invalid && !registerForm.huisnummer.$pristine }">
        <label>Huisnummer:</label>
        <input name="huisnummer" type="text" class="form-control" placeholder="huisnummer" ng-model="adres.huisnummer" ng-pattern="/^[0-9]{1,3}$/" required></input>
        <p ng-show="registerForm.huisnummer.$error.pattern" class="help-block">Huisnummer moet een nummer zijn.</p>
        <p ng-show="registerForm.huisnummer.$error.required && !registerForm.huisnummer.$pristine" class="help-block">Huisnummer moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : registerForm.bus.$invalid && !registerForm.bus.$pristine }">
        <label>Bus:</label>
        <input type="text" class="form-control" placeholder="bus" ng-model="adres.bus"ng-pattern="/^[0-9]{1,3}$/"></input>
        <p ng-show="registerForm.bus.$error.pattern" class="help-block">Bus moet een nummer zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : registerForm.gemeente.$invalid && !registerForm.gemeente.$pristine }">
        <label>Gemeente:</label>
        <input name="gemeente" type="text" class="form-control" placeholder="gemeente" ng-model="adres.gemeente" ng-pattern="/^[a-zA-Z\s]*$/" required></input>
        <p ng-show="registerForm.gemeente.$error.pattern" class="help-block">Gelieve de postcode in het aangegeven veld in te geven.</p>
        <p ng-show="registerForm.gemeente.$error.required  && !registerForm.gemeente.$pristine" class="help-block">Gemeente moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : registerForm.postcode.$invalid && !registerForm.postcode.$pristine }">
        <label>Postcode:</label>
        <input name="postcode" type="text" class="form-control" placeholder="postcode" ng-model="adres.postcode" ng-pattern="/^[0-9]{4}$/" required></input>
        <p ng-show="registerForm.postcode.$error.pattern" class="help-block">Poscode moet een nummer zijn.</p>
        <p ng-show="registerForm.postcode.$error.required  && !registerForm.postcode.$pristine" class="help-block">Postcode moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : registerForm.rijksregisternummer.$invalid && !registerForm.rijksregisternummer.$pristine }">
        <label>Rijksregisternummer:</label>
        <input name="rijksregisternummer" type="text" class="form-control" placeholder="rijksregisternummer" ng-model="user.rijksregisternummer" ng-pattern="/^[0-9]{11}$/" required></input>
        <p ng-show="registerForm.rijksregisternummer.$error.pattern" class="help-block">Dit is geen Geldig rijksregisternummer.</p>
        <p ng-show="registerForm.rijksregisternummer.$error.required  && !registerForm.rijksregisternummer.$pristine" class="help-block">Gelieve uw rijksregisternummer in te geven.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : registerForm.geboortedatum.$invalid && !registerForm.geboortedatum.$pristine || error }">
        <label>Geboortedatum:</label>
        <input name="geboortedatum" type="date" class="form-control" placeholder="mm/dd/jjjj" ng-model="user.geboorteDatum" required></input>
        <p ng-show="registerForm.geboortedatum.$error.required  && !registerForm.geboortedatum.$pristine" class="help-block">Gelieve uw geboortedatum in te geven.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : registerForm.codegerechtigde.$invalid && !registerForm.codegerechtigde.$pristine || error }">
        <label>Code gerechtigde:</label>
        <input type="text" class="form-control" placeholder="code gerechtigde" ng-model="user.codeGerechtigde" required></input>
        <p ng-show="registerForm.codegerechtigde.$error.required  && !registerForm.codegerechtigde.$pristine" class="help-block">Gelieve de code van de gerechtigde in te geven.</p>
      </div>
      <button type="submit" ng-disabled="registerForm.$invalid" class="btn">Register</button>
    </form>
  <div/>
</script>

<script type="text/ng-template" id="/registerMonitor.html">
  <div class="col-md-6 col-md-offset-3">
    <div ng-show="error" class="alert alert-danger row">
      <span>{{ error.message }}</span>
    </div>
    <form name="registerForm" ng-submit="registerMonitor()" style="margin-top:30px;" novalidate>
      <h3>Register</h3>
      <div class="form-group" ng-class="{ 'has-error' : registerForm.email.$invalid && !registerForm.email.$pristine }">
        <label>Email:</label>
        <input name="email" type="email" class="form-control" placeholder="email" ng-model="user.email" required></input>
        <p ng-show="registerForm.email.$invalid && !registerForm.email.$pristine" class="help-block">Gelieve een email adres in te vullen.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : registerForm.passwoord.$invalid && !registerForm.passwoord.$pristine }">
        <label>Passwoord:</label>
        <input id="passwoord" name="passwoord" type="password" class="form-control" placeholder="Passwoord" ng-model="user.password" ng-pattern="/^(?=.*\d)(?=.*[a-zA-Z]).{6,50}$/" required></input>
        <p ng-show="registerForm.passwoord.$error.pattern" class="help-block">Passwoord moet tussen de 6 en 20 tekens lang zijn en moet een cijfer, een teken, een kleine letter en een hoofdletter hebben.</p>
        <p ng-show="registerForm.passwoord.$error.required && !registerForm.passwoord.$pristine" class="help-block">Gelieve een passwoord in te vullen.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : registerForm.bpasswoord.$invalid && !registerForm.bpasswoord.$pristine }">
        <label>Bevestig passwoord:</label>
        <input name="bpasswoord" type="password" class="form-control" placeholder="bevestig Passwoord" ng-model="user.bevestigpassword" data-password-verify="user.password" required></input>
        <p ng-show="registerForm.bpasswoord.$error.required && !registerForm.bpasswoord.$pristine" class="help-block">Gelieve een bevestigings passwoord in te vullen.</p>
        <p ng-show="registerForm.bpasswoord.$error.passwordVerify" class="help-block">Passwoorden zijn niet hetzelfde.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : registerForm.naam.$invalid && !registerForm.naam.$pristine }">
        <label>Naam:</label>
        <input name='naam'type="text" class="form-control" placeholder="naam" ng-model="user.naam" required></input>
        <p ng-show="registerForm.naam.$error.required && !registerForm.naam.$pristine" class="help-block">Gelieve uw naam in te vullen.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : registerForm.voornaam.$invalid && !registerForm.voornaam.$pristine }">
        <label>Voornaam:</label>
        <input name="voornaam" type="text" class="form-control" placeholder="voornaam" ng-model="user.voornaam" required></input>
        <p ng-show="registerForm.voornaam.$error.required && !registerForm.voornaam.$pristine" class="help-block">Gelieve uw naam in te vullen.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : registerForm.straat.$invalid && !registerForm.straat.$pristine }">
        <label>Straat:</label>
        <input name="straat" type="text" class="form-control" placeholder="straat" ng-model="adres.straat" ng-pattern="/^[a-zA-Z\s]*$/" required></input>
        <p ng-show="registerForm.straat.$error.pattern" class="help-block">Gelieve om Huisnummer & Bus in de aangegeven velden in te vullen.</p>
        <p ng-show="registerForm.straat.$error.required && !registerForm.straat.$pristine" class="help-block">Straat moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : registerForm.huisnummer.$invalid && !registerForm.huisnummer.$pristine }">
        <label>Huisnummer:</label>
        <input name="huisnummer" type="text" class="form-control" placeholder="huisnummer" ng-model="adres.huisnummer" ng-pattern="/^[0-9]{1,3}$/" required></input>
        <p ng-show="registerForm.huisnummer.$error.pattern" class="help-block">Huisnummer moet een nummer zijn.</p>
        <p ng-show="registerForm.huisnummer.$error.required && !registerForm.huisnummer.$pristine" class="help-block">Huisnummer moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : registerForm.bus.$invalid && !registerForm.bus.$pristine }">
        <label>Bus:</label>
        <input type="text" class="form-control" placeholder="bus" ng-model="adres.bus"ng-pattern="/^[0-9]{1,3}$/"></input>
        <p ng-show="registerForm.bus.$error.pattern" class="help-block">Bus moet een nummer zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : registerForm.gemeente.$invalid && !registerForm.gemeente.$pristine }">
        <label>Gemeente:</label>
        <input name="gemeente" type="text" class="form-control" placeholder="gemeente" ng-model="adres.gemeente" ng-pattern="/^[a-zA-Z\s]*$/" required></input>
        <p ng-show="registerForm.gemeente.$error.pattern" class="help-block">Gelieve de postcode in het aangegeven veld in te geven.</p>
        <p ng-show="registerForm.gemeente.$error.required  && !registerForm.gemeente.$pristine" class="help-block">Gemeente moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : registerForm.postcode.$invalid && !registerForm.postcode.$pristine }">
        <label>Postcode:</label>
        <input name="postcode" type="text" class="form-control" placeholder="postcode" ng-model="adres.postcode" ng-pattern="/^[0-9]{4}$/" required></input>
        <p ng-show="registerForm.postcode.$error.pattern" class="help-block">Poscode moet een nummer zijn.</p>
        <p ng-show="registerForm.postcode.$error.required  && !registerForm.postcode.$pristine" class="help-block">Postcode moet ingevuld zijn.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : registerForm.rijksregisternummer.$invalid && !registerForm.rijksregisternummer.$pristine }">
        <label>Rijksregisternummer:</label>
        <input name="rijksregisternummer" type="text" class="form-control" placeholder="rijksregisternummer" ng-model="user.rijksregisternummer" ng-pattern="/^[0-9]{11}$/" required></input>
        <p ng-show="registerForm.rijksregisternummer.$error.pattern" class="help-block">Dit is geen Geldig rijksregisternummer.</p>
        <p ng-show="registerForm.rijksregisternummer.$error.required  && !registerForm.rijksregisternummer.$pristine" class="help-block">Gelieve uw rijksregisternummer in te geven.</p>
      </div>
      <button type="submit" ng-disabled="registerForm.$invalid" class="btn">Register</button>
    </form>
  <div/>
</script>

<script type="text/ng-template" id="/login.html">
    <div class="col-md-6 col-md-offset-3">
      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
      </div>
      <form ng-submit="logIn()"
        style="margin-top:30px;">
        <h3>Log In</h3>
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Email"
          ng-model="user.email"></input>
        </div>
        <div class="form-group">
          <input type="password"
          class="form-control"
          placeholder="Password"
          ng-model="user.password"></input>
        </div>
        <button type="submit" class="btn">Log In</button>
      </form>
    </div>
  </script>

  <script type="text/ng-template" id="/account.html">
    <div class="col-md-6 col-md-offset-3">
      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
      </div>

      <form name="accountForm" ng-submit="opslaan()" style="margin-top:30px;" novalidate>
        <h3>account</h3>
        <div class="form-group" ng-class="{ 'has-error' : accountForm.email.$invalid && !accountForm.email.$pristine }">
          <label>Email:</label>
          <input name="email" type="email" class="form-control" placeholder="email" value="user.email" ng-model="user.email" readonly="true" required></input>
          <p ng-show="accountForm.email.$invalid && !accountForm.email.$pristine" class="help-block">Gelieve een email adres in te vullen.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : accountForm.naam.$invalid && !accountForm.naam.$pristine }">
          <label>Naam:</label>
          <input name='naam'type="text" class="form-control" placeholder="naam" value="user.naam" ng-model="user.naam" ng-readonly="aanpassen" required></input>
          <p ng-show="accountForm.naam.$error.required && !accountForm.naam.$pristine" class="help-block">Gelieve uw naam in te vullen.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : accountForm.voornaam.$invalid && !accountForm.voornaam.$pristine }">
          <label>Voornaam:</label>
          <input name="voornaam" type="text" class="form-control" placeholder="voornaam" value="user.voornaam" ng-model="user.voornaam" ng-readonly="aanpassen" required></input>
          <p ng-show="accountForm.voornaam.$error.required && !accountForm.voornaam.$pristine" class="help-block">Gelieve uw naam in te vullen.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : accountForm.straat.$invalid && !accountForm.straat.$pristine }">
          <label>Straat:</label>
          <input name="straat" type="text" class="form-control" placeholder="straat" value="adres.straat" ng-model="adres.straat" ng-pattern="/^[a-zA-Z\s]*$/" ng-readonly="aanpassen" required></input>
          <p ng-show="accountForm.straat.$error.pattern" class="help-block">Gelieve om Huisnummer & Bus in de aangegeven velden in te vullen.</p>
          <p ng-show="accountForm.straat.$error.required && !accountForm.straat.$pristine" class="help-block">Straat moet ingevuld zijn.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : accountForm.huisnummer.$invalid && !accountForm.huisnummer.$pristine }">
          <label>Huisnummer:</label>
          <input name="huisnummer" type="text" class="form-control" placeholder="huisnummer"  value="adres.huisnummer" ng-model="adres.huisnummer" ng-pattern="/^[0-9]{1,3}$/" ng-readonly="aanpassen" required></input>
          <p ng-show="accountForm.huisnummer.$error.pattern" class="help-block">Huisnummer moet een nummer zijn.</p>
          <p ng-show="accountForm.huisnummer.$error.required && !accountForm.huisnummer.$pristine" class="help-block">Huisnummer moet ingevuld zijn.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : accountForm.bus.$invalid && !accountForm.bus.$pristine }">
          <label>Bus:</label>
          <input type="text" class="form-control" placeholder="bus"  value="adres.bus" ng-model="adres.bus" ng-pattern="/^[0-9]{1,3}$/" ng-readonly="aanpassen"></input>
          <p ng-show="accountForm.bus.$error.pattern" class="help-block">Bus moet een nummer zijn.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : accountForm.gemeente.$invalid && !accountForm.gemeente.$pristine }">
          <label>Gemeente:</label>
          <input name="gemeente" type="text" class="form-control" placeholder="gemeente"  value="adres.gemeente" ng-model="adres.gemeente" ng-pattern="/^[a-zA-Z\s]*$/" ng-readonly="aanpassen" required></input>
          <p ng-show="accountForm.gemeente.$error.pattern" class="help-block">Gelieve de postcode in het aangegeven veld in te geven.</p>
          <p ng-show="accountForm.gemeente.$error.required  && !accountForm.gemeente.$pristine" class="help-block">Gemeente moet ingevuld zijn.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : accountForm.postcode.$invalid && !accountForm.postcode.$pristine }">
          <label>Postcode:</label>
          <input name="postcode" type="text" class="form-control" placeholder="postcode"  value="adres.postcode" ng-model="adres.postcode" ng-pattern="/^[0-9]{4}$/" ng-readonly="aanpassen" required></input>
          <p ng-show="accountForm.postcode.$error.pattern" class="help-block">Poscode moet een nummer zijn.</p>
          <p ng-show="accountForm.postcode.$error.required  && !accountForm.postcode.$pristine" class="help-block">Postcode moet ingevuld zijn.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : accountForm.rijksaccountnummer.$invalid && !accountForm.rijksaccountnummer.$pristine }">
          <label>Rijksregisternummer:</label>
          <input name="rijksregisternummer" type="text" class="form-control" placeholder="rijksregisternummer"  value="user.rijksregisternummer" ng-model="user.rijksregisternummer" ng-pattern="/^[0-9]{11}$/" ng-readonly="aanpassen" required></input>
          <p ng-show="accountForm.rijksregisternummer.$error.pattern" class="help-block">Dit is geen Geldig rijksregisternummer.</p>
          <p ng-show="accountForm.rijksregisternummer.$error.required  && !accountForm.rijksregisternummer.$pristine" class="help-block">Gelieve uw rijksregisternummer in te geven.</p>
        </div>
        <div class="form-group" ng-show="islid()" >
          <label>Geboortedatum:</label>
          <input name="geboortedatum" type="date" class="form-control" placeholder="mm/dd/jjjj"  value="user.geboorteDatum" ng-model="user.geboorteDatum" ng-readonly="aanpassen" ></input>

        </div>
        <div class="form-group" ng-show="islid()" >
          <label>Code gerechtigde:</label>
          <input type="text" class="form-control" placeholder="code gerechtigde"  value="user.codeGerechtigde" ng-model="user.codeGerechtigde" ng-readonly="aanpassen" ></input>
        </div>
        <table>
          <tr>
            <td>Naam</td>
            <td>Voornaam</td>
            <td>telefoonnummer</td>
            <td>email</td>
          </tr>
          <tr class='clickable' ng-repeat="contactpersoon in contactpersonen" ng-click="go(contactpersoon)">
              <td>{{contactpersoon.naam}}</td>
              <td>{{contactpersoon.voornaam}}</td>
              <td>{{contactpersoon.telefoonnummer}}</td>
              <td>{{contactpersoon.email}}</td>
          </tr>
        </table>
          <button ng-hide="aanpassen" ng-style="{display: inline-block}"  type="submit" ng-disabled="accountForm.$invalid" class="btn">opslaan</button>
          <a class="btn" ng-show='islid()' ng-style="{display: inline-block}"  href="#/contactpersoonToevoegen" class="button">Contactpersoon toevoegen</a>
          <button ng-click="pasaan()" ng-show="aanpassen" ng-style="{display: inline-block}" class="btn">aanpassen</button>
      </form>
    <div/>
  </script>

  <script type="text/ng-template" id="/contactpersoon.html">
    <div class="col-md-6 col-md-offset-3">
      <h3>Contactpersoon</h3>
      <table>
        <tr>
          <td>Naam:</td>
          <td>{{contactpersoon.naam}}</td>
        </tr>
        <tr>
          <td>Voornaam:</td>
          <td>{{contactpersoon.voornaam}}</td>
        </tr>
        <tr>
          <td>straat:</td>
          <td>{{contactpersoon.adres.straat}}</td>
        </tr>
        <tr>
          <td>huisnummer:</td>
          <td>{{contactpersoon.adres.huisnummer}}</td>
        </tr>
        <tr>
          <td>bus:</td>
          <td>{{contactpersoon.adres.bus}}</td>
        </tr>
        <tr>
          <td>postcode:</td>
          <td>{{contactpersoon.adres.postcode}}</td>
        </tr>
        <tr>
          <td>gemeente:</td>
          <td>{{contactpersoon.adres.gemeente}}</td>
        </tr>
        <tr>
          <td>rijksregisternummer:</td>
          <td>{{contactpersoon.rijksregisternummer}}</td>
        </tr>
        <tr>
          <td>telefoonnummer:</td>
          <td>{{contactpersoon.telefoonnummer}}</td>
        </tr>
        <tr>
          <td>email:</td>
          <td>{{contactpersoon.email}}</td>
        </tr>
        <tr>
          <td>betalend:</td>
          <td>{{contactpersoon.betalend}}</td>
        </tr>
        <tr>
          <td>ouder</td>
          <td>{{contactpersoon.ouder}}</td>
        </tr>
    </table>
    <a class="btn" ng-style="{display: inline-block}"  href="#/contactpersoonAanpassen/{{contactpersoon._id}}" class="button">aanpassen</a>
    </div>
  </script>

  <script type="text/ng-template" id="/contactpersoontoevoegen.html">
    <div class="col-md-6 col-md-offset-3">

      <form name="contactpersoonForm" ng-submit="opslaan()" style="margin-top:30px;" novalidate>
        <h3>Contactpersoon Toevoegen</h3>
        <div class="form-group" ng-class="{ 'has-error' : contactpersoonForm.naam.$invalid && !contactpersoonForm.naam.$pristine }">
          <label>Naam:</label>
          <input name='naam'type="text" class="form-control" placeholder="naam" ng-model="contactpersoon.naam" required></input>
          <p ng-show="contactpersoonForm.naam.$error.required && !contactpersoonForm.naam.$pristine" class="help-block">Gelieve uw naam in te vullen.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : contactpersoonForm.voornaam.$invalid && !contactpersoonForm.voornaam.$pristine }">
          <label>Voornaam:</label>
          <input name="voornaam" type="text" class="form-control" placeholder="voornaam" ng-model="contactpersoon.voornaam" required></input>
          <p ng-show="contactpersoonForm.voornaam.$error.required && !contactpersoonForm.voornaam.$pristine" class="help-block">Gelieve uw naam in te vullen.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : contactpersoonForm.straat.$invalid && !contactpersoonForm.straat.$pristine }">
          <label>Straat:</label>
          <input name="straat" type="text" class="form-control" placeholder="straat" ng-model="adres.straat" ng-pattern="/^[a-zA-Z\s]*$/" required></input>
          <p ng-show="contactpersoonForm.straat.$error.pattern" class="help-block">Gelieve om Huisnummer & Bus in de aangegeven velden in te vullen.</p>
          <p ng-show="contactpersoonForm.straat.$error.required && !contactpersoonForm.straat.$pristine" class="help-block">Straat moet ingevuld zijn.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : contactpersoonForm.huisnummer.$invalid && !contactpersoonForm.huisnummer.$pristine }">
          <label>Huisnummer:</label>
          <input name="huisnummer" type="text" class="form-control" placeholder="huisnummer" ng-model="adres.huisnummer" ng-pattern="/^[0-9]{1,3}$/" required></input>
          <p ng-show="contactpersoonForm.huisnummer.$error.pattern" class="help-block">Huisnummer moet een nummer zijn.</p>
          <p ng-show="contactpersoonForm.huisnummer.$error.required && !contactpersoonForm.huisnummer.$pristine" class="help-block">Huisnummer moet ingevuld zijn.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : contactpersoonForm.bus.$invalid && !contactpersoonForm.bus.$pristine }">
          <label>Bus:</label>
          <input name="bus" type="text" class="form-control" placeholder="bus" ng-model="adres.bus"ng-pattern="/^[0-9]{1,3}$/"></input>
          <p ng-show="contactpersoonForm.bus.$error.pattern" class="help-block">Bus moet een nummer zijn.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : contactpersoonForm.gemeente.$invalid && !contactpersoonForm.gemeente.$pristine }">
          <label>Gemeente:</label>
          <input name="gemeente" type="text" class="form-control" placeholder="gemeente" ng-model="adres.gemeente" ng-pattern="/^[a-zA-Z\s]*$/" required></input>
          <p ng-show="contactpersoonForm.gemeente.$error.pattern" class="help-block">Gelieve de postcode in het aangegeven veld in te geven.</p>
          <p ng-show="contactpersoonForm.gemeente.$error.required  && !contactpersoonForm.gemeente.$pristine" class="help-block">Gemeente moet ingevuld zijn.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : contactpersoonForm.postcode.$invalid && !contactpersoonForm.postcode.$pristine }">
          <label>Postcode:</label>
          <input name="postcode" type="text" class="form-control" placeholder="postcode" ng-model="adres.postcode" ng-pattern="/^[0-9]{4}$/" required></input>
          <p ng-show="contactpersoonForm.postcode.$error.pattern" class="help-block">Poscode moet een nummer zijn.</p>
          <p ng-show="contactpersoonForm.postcode.$error.required  && !contactpersoonForm.postcode.$pristine" class="help-block">Postcode moet ingevuld zijn.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : contactpersoonForm.rijkscontactpersoonnummer.$invalid && !contactpersoonForm.rijkscontactpersoonnummer.$pristine }">
          <label>Rijksregisternummer:</label>
          <input name="rijksregisternummer" type="text" class="form-control" placeholder="rijksregisternummer" ng-model="contactpersoon.rijksregisternummer" ng-pattern="/^[0-9]{11}$/" required></input>
          <p ng-show="contactpersoonForm.rijksregisternummer.$error.pattern" class="help-block">Dit is geen Geldig rijksregisternummer.</p>
          <p ng-show="contactpersoonForm.rijksregisternummer.$error.required  && !contactpersoonForm.rijksregisternummer.$pristine" class="help-block">Gelieve uw rijksregisternummer in te geven.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : contactpersoonForm.email.$invalid && !contactpersoonForm.email.$pristine }">
          <label>Email:</label>
          <input name="email" type="email" class="form-control" placeholder="email" ng-model="contactpersoon.email" required></input>
          <p ng-show="contactpersoonForm.email.$invalid && !contactpersoonForm.email.$pristine" class="help-block">Gelieve een email adres in te vullen.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : contactpersoonForm.telefoonnummer.$invalid && !contactpersoonForm.telefoonnummer.$pristine || error }">
          <label>Telefoonnummer:</label>
          <input name="telefoonnummer" type="text" class="form-control" placeholder="telefoonnummer" ng-model="contactpersoon.telefoonnummer" ng-pattern="/^[0-9]{9,10}$/" required></input>
          <p ng-show="contactpersoonForm.telefoonnummer.$error.pattern" class="help-block">Dit is geen geldig telefoonnummer of gsm nummer.</p>
          <p ng-show="contactpersoonForm.telefoonnummer.$error.required  && !contactpersoonForm.telefoonnummer.$pristine" class="help-block">Gelieve uw geboortedatum in te geven.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : contactpersoonForm.aansluitnummer.$invalid && !contactpersoonForm.aansluitnummer.$pristine || error }">
          <label>aansluitnummer:</label>
          <input name ="aansluitnummer" type="text" class="form-control" placeholder="aansluitnummer" ng-model="contactpersoon.aansluitnummer" required></input>
          <p ng-show="contactpersoonForm.aansluitnummer.$error.pattern" class="help-block">Dit is geen Geldig rijksregisternummer.</p>
          <p ng-show="contactpersoonForm.aansluitnummer.$error.required  && !contactpersoonForm.aansluitnummer.$pristine" class="help-block">Gelieve de code van de gerechtigde in te geven.</p>
        </div>
        <div class="form-group" >
          <label>betalend:</label>
          <input name="betalend" type="checkbox" ng-model="contactpersoon.betalend"></input>
        </div>
        <div class="form-group" >
          <label>ouder:</label>
          <input name="ouder" type="checkbox" ng-model="contactpersoon.ouder"></input>
        </div>
        <button type="submit" ng-disabled="contactpersoonForm.$invalid" class="btn">Toevoegen</button>
      </form>
    <div/>
  </script>

  <script type="text/ng-template" id="/contactpersoonaanpassen.html">
    <div class="col-md-6 col-md-offset-3">
      <form name="contactpersoonForm" ng-submit="opslaan()" style="margin-top:30px;" novalidate>
        <h3>Contactpersoon Aanpassen</h3>
        <div class="form-group" ng-class="{ 'has-error' : contactpersoonForm.naam.$invalid && !contactpersoonForm.naam.$pristine }">
          <label>Naam:</label>
          <input name='naam'type="text" class="form-control" placeholder="naam" ng-model="contactpersoon.naam" required></input>
          <p ng-show="contactpersoonForm.naam.$error.required && !contactpersoonForm.naam.$pristine" class="help-block">Gelieve uw naam in te vullen.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : contactpersoonForm.voornaam.$invalid && !contactpersoonForm.voornaam.$pristine }">
          <label>Voornaam:</label>
          <input name="voornaam" type="text" class="form-control" placeholder="voornaam" ng-model="contactpersoon.voornaam" required></input>
          <p ng-show="contactpersoonForm.voornaam.$error.required && !contactpersoonForm.voornaam.$pristine" class="help-block">Gelieve uw naam in te vullen.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : contactpersoonForm.straat.$invalid && !contactpersoonForm.straat.$pristine }">
          <label>Straat:</label>
          <input name="straat" type="text" class="form-control" placeholder="straat" ng-model="adres.straat" ng-pattern="/^[a-zA-Z\s]*$/" required></input>
          <p ng-show="contactpersoonForm.straat.$error.pattern" class="help-block">Gelieve om Huisnummer & Bus in de aangegeven velden in te vullen.</p>
          <p ng-show="contactpersoonForm.straat.$error.required && !contactpersoonForm.straat.$pristine" class="help-block">Straat moet ingevuld zijn.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : contactpersoonForm.huisnummer.$invalid && !contactpersoonForm.huisnummer.$pristine }">
          <label>Huisnummer:</label>
          <input name="huisnummer" type="text" class="form-control" placeholder="huisnummer" ng-model="adres.huisnummer" ng-pattern="/^[0-9]{1,3}$/" required></input>
          <p ng-show="contactpersoonForm.huisnummer.$error.pattern" class="help-block">Huisnummer moet een nummer zijn.</p>
          <p ng-show="contactpersoonForm.huisnummer.$error.required && !contactpersoonForm.huisnummer.$pristine" class="help-block">Huisnummer moet ingevuld zijn.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : contactpersoonForm.bus.$invalid && !contactpersoonForm.bus.$pristine }">
          <label>Bus:</label>
          <input name="bus" type="text" class="form-control" placeholder="bus" ng-model="adres.bus"ng-pattern="/^[0-9]{1,3}$/"></input>
          <p ng-show="contactpersoonForm.bus.$error.pattern" class="help-block">Bus moet een nummer zijn.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : contactpersoonForm.gemeente.$invalid && !contactpersoonForm.gemeente.$pristine }">
          <label>Gemeente:</label>
          <input name="gemeente" type="text" class="form-control" placeholder="gemeente" ng-model="adres.gemeente" ng-pattern="/^[a-zA-Z\s]*$/" required></input>
          <p ng-show="contactpersoonForm.gemeente.$error.pattern" class="help-block">Gelieve de postcode in het aangegeven veld in te geven.</p>
          <p ng-show="contactpersoonForm.gemeente.$error.required  && !contactpersoonForm.gemeente.$pristine" class="help-block">Gemeente moet ingevuld zijn.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : contactpersoonForm.postcode.$invalid && !contactpersoonForm.postcode.$pristine }">
          <label>Postcode:</label>
          <input name="postcode" type="text" class="form-control" placeholder="postcode" ng-model="adres.postcode" ng-pattern="/^[0-9]{4}$/" required></input>
          <p ng-show="contactpersoonForm.postcode.$error.pattern" class="help-block">Poscode moet een nummer zijn.</p>
          <p ng-show="contactpersoonForm.postcode.$error.required  && !contactpersoonForm.postcode.$pristine" class="help-block">Postcode moet ingevuld zijn.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : contactpersoonForm.rijkscontactpersoonnummer.$invalid && !contactpersoonForm.rijkscontactpersoonnummer.$pristine }">
          <label>Rijksregisternummer:</label>
          <input name="rijksregisternummer" type="text" class="form-control" placeholder="rijksregisternummer" ng-model="contactpersoon.rijksregisternummer" ng-pattern="/^[0-9]{11}$/" required></input>
          <p ng-show="contactpersoonForm.rijksregisternummer.$error.pattern" class="help-block">Dit is geen Geldig rijksregisternummer.</p>
          <p ng-show="contactpersoonForm.rijksregisternummer.$error.required  && !contactpersoonForm.rijksregisternummer.$pristine" class="help-block">Gelieve uw rijksregisternummer in te geven.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : contactpersoonForm.email.$invalid && !contactpersoonForm.email.$pristine }">
          <label>Email:</label>
          <input name="email" type="email" class="form-control" placeholder="email" ng-model="contactpersoon.email" required></input>
          <p ng-show="contactpersoonForm.email.$invalid && !contactpersoonForm.email.$pristine" class="help-block">Gelieve een email adres in te vullen.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : contactpersoonForm.telefoonnummer.$invalid && !contactpersoonForm.telefoonnummer.$pristine || error }">
          <label>Telefoonnummer:</label>
          <input name="telefoonnummer" type="text" class="form-control" placeholder="telefoonnummer" ng-model="contactpersoon.telefoonnummer" ng-pattern="/^[0-9]{9,10}$/" required></input>
          <p ng-show="contactpersoonForm.telefoonnummer.$error.pattern" class="help-block">Dit is geen geldig telefoonnummer of gsm nummer.</p>
          <p ng-show="contactpersoonForm.telefoonnummer.$error.required  && !contactpersoonForm.telefoonnummer.$pristine" class="help-block">Gelieve uw geboortedatum in te geven.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : contactpersoonForm.aansluitnummer.$invalid && !contactpersoonForm.aansluitnummer.$pristine || error }">
          <label>aansluitnummer:</label>
          <input name ="aansluitnummer" type="text" class="form-control" placeholder="aansluitnummer" ng-model="contactpersoon.aansluitnummer" required></input>
          <p ng-show="contactpersoonForm.aansluitnummer.$error.pattern" class="help-block">Dit is geen Geldig rijksregisternummer.</p>
          <p ng-show="contactpersoonForm.aansluitnummer.$error.required  && !contactpersoonForm.aansluitnummer.$pristine" class="help-block">Gelieve de code van de gerechtigde in te geven.</p>
        </div>
        <div class="form-group" >
          <label>betalend:</label>
          <input name="betalend" type="checkbox" ng-checked="contactpersoon.betalend" ng-model="contactpersoon.betalend"></input>
        </div>
        <div class="form-group" >
          <label>ouder:</label>
          <input name="ouder" type="checkbox" ng-checked="contactpersoon.ouder" ng-model="contactpersoon.ouder"></input>
        </div>
        <button type="submit" ng-disabled="contactpersoonForm.$invalid" class="btn">Aanpassen</button>
      </form>
    <div/>
  </script>

  <script type="text/ng-template" id="/activiteittoevoegen.html">
    <div class="col-md-6 col-md-offset-3">
      <form name="activiteitForm" ng-submit="opslaan()" style="margin-top:30px;" novalidate>
        <h3>Activiteit toevoegen</h3>
        <div class="form-group" ng-class="{ 'has-error' : activiteitForm.naam.$invalid && !activiteitForm.naam.$pristine }">
          <label>Naam:</label>
          <input name='naam'type="text" class="form-control" placeholder="naam" ng-model="activiteit.naam" required></input>
          <p ng-show="activiteitForm.naam.$error.required && !activiteitForm.naam.$pristine" class="help-block">Gelieve uw naam in te vullen.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : activiteitForm.Locatie.$invalid && !activiteitForm.Locatie.$pristine }">
          <label>Locatie:</label>
          <input name="Locatie" type="text" class="form-control" placeholder="Locatie" ng-model="activiteit.locatie" required></input>
          <p ng-show="activiteitForm.Locatie.$error.required && !activiteitForm.Locatie.$pristine" class="help-block">Gelieve uw naam in te vullen.</p>
        </div>
        <div class="form-group">
          <label>Hele dag:</label>
          <input name="Heledag" type="checkbox" ng-model="activiteit.heleDag"></input>
        </div>
        <div class="form-group" ng-hide="activiteit.heleDag">
          <label>Begin:</label>
          <input name="begin" type="text" class="form-control" placeholder="begin tijd" ng-model="activiteit.begin"></input>
        </div>
        <div class="form-group" ng-hide="activiteit.heleDag">
          <label>Einde:</label>
          <input name="einde" type="text" class="form-control" placeholder="eind tijd" ng-model="activiteit.einde"></input>
        </div>
        <button type="submit" ng-disabled="activiteitForm.$invalid" class="btn">Opslaan</button>
      </form>
    <div/>
  </script>

  <script type="text/ng-template" id="/activiteit.html">
    <div class="col-md-6 col-md-offset-3">
      <h3>Activiteit</h3>
      <table>
        <tr>
          <td>Naam:</td>
          <td>{{activiteit.naam}}</td>
        </tr>
        <tr>
          <td>locatie:</td>
          <td>{{activiteit.locatie}}</td>
        </tr>
        <tr ng-show='activiteit.heleDag'>
          <td>hele dag:</td>
          <td>Deze activiteit vind gedurende de hele dag plaats</td>
        </tr>
        <tr ng-hide='activiteit.heleDag'>
          <td>begin:</td>
          <td>{{actviteit.begin}}</td>
        </tr>
        <tr ng-hide='activiteit.heleDag'>
          <td>eind:</td>
          <td>{{activiteit.einde}}</td>
        </tr>
    </table>
    <a class="btn" ng-style="{display: inline-block}"  href="#/activiteitAanpassen/{{activiteit._id}}" class="button">aanpassen</a>
    <div/>
  </script>

  <script type="text/ng-template" id="/activiteitaanpassen.html">
    <div class="col-md-6 col-md-offset-3">
      <form name="activiteitForm" ng-submit="opslaan()" style="margin-top:30px;" novalidate>
        <h3>Activiteit aanpassen</h3>
        <div class="form-group" ng-class="{ 'has-error' : activiteitForm.naam.$invalid && !activiteitForm.naam.$pristine }">
          <label>Naam:</label>
          <input name='naam'type="text" class="form-control" placeholder="naam" ng-model="activiteit.naam" required></input>
          <p ng-show="activiteitForm.naam.$error.required && !activiteitForm.naam.$pristine" class="help-block">Gelieve uw naam in te vullen.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : activiteitForm.Locatie.$invalid && !activiteitForm.Locatie.$pristine }">
          <label>Locatie:</label>
          <input name="Locatie" type="text" class="form-control" placeholder="Locatie" ng-model="activiteit.locatie" required></input>
          <p ng-show="activiteitForm.Locatie.$error.required && !activiteitForm.Locatie.$pristine" class="help-block">Gelieve uw naam in te vullen.</p>
        </div>
        <div class="form-group">
          <label>Hele dag:</label>
          <input name="heleDag" ng-checked='activiteit.heleDag' type="checkbox" ng-model="activiteit.heleDag"></input>
        </div>
        <div class="form-group" ng-hide="activiteit.heleDag">
          <label>Begin:</label>
          <input name="begin" type="text" class="form-control" placeholder="begin tijd" ng-model="activiteit.begin"></input>
        </div>
        <div class="form-group" ng-hide="activiteit.heleDag">
          <label>Einde:</label>
          <input name="einde" type="text" class="form-control" placeholder="eind tijd" ng-model="activiteit.einde"></input>
        </div>
        <button type="submit" ng-disabled="activiteitForm.$invalid" class="btn">Opslaan</button>
      </form>
    <div/>
  </script>

  <script type="text/ng-template" id="/mijnactiviteiten.html">
    <div class="col-md-6 col-md-offset-3">
      <table>
        <tr>
          <td>Naam</td>
          <td>Locatie</td>
        </tr>
        <tr ng-repeat="activiteit in activiteiten" ng-click="go(activiteit)">
            <td>{{activiteit.naam}}</td>
            <td>{{activiteit.locatie}}</td>
        </tr>
      </table>
    <div/>
  </script>

  <script type="text/ng-template" id="/inschrijving.html">
    <div class="col-md-6 col-md-offset-3">
      <form name="inschrijvingForm" ng-submit="opslaan()" style="margin-top:30px;" novalidate>
        <h3>inschrijving voor kamp</h3>
        <div class="form-group">
          <label>Hier kan u extra informatie invullen indien nodig:</label>
          <textarea class="form-control" name="extra informatie" type="text"  placeholder="extra info die moet geweten worden door monitoren" ng-model="inschrijving.extraInformatie"></textarea>
        </div>
        <button type="submit" class="btn">Opslaan</button>
      </form>
    <div/>
  </script>

  <script type="text/ng-template" id="/mijninschrijvingen.html">
    <div class="col-md-6 col-md-offset-3">
      <h3>Mijn Inschrijvingen</h3>
      <div ng-repeat="inschrijving in inschrijvingen">
        <h4>{{inschrijving.kamp.naam}}</h4>
        <table>
          <tr>
            <td>Extra info</td>
            <td>{{inschrijving.extraInformatie}}</td>
          </tr>
          <tr>
              <td>goedgekeurd</td>
              <td>{{inschrijving.goedgekeurd}}</td>
          </tr>
          <tr>
              <td>betaald</td>
              <td>{{inschrijving.betaald}}</td>
          </tr>
        </table>
      </div>
    <div/>
  </script>

  <script type="text/ng-template" id="/kampinschrijvingen.html">
    <div class="col-md-6 col-md-offset-3">
      <h3>Kamp Inschrijvingen</h3>
        <table>
          <tr>
            <td>Naam kind</td>
            <td>goedgekeurd</td>
            <td>betaald</td>
          </tr>
          <tr class='clickable' ng-repeat="inschrijving in inschrijvingen" ng-click='go(inschrijving)'>
            <td>{{inschrijving.lid.naam}} {{inschrijving.lid.voornaam}}</td>
            <td>{{inschrijving.goedgekeurd}}</td>
            <td>{{inschrijving.betaald}}</td>
          </tr>
        </table>
    <div/>
  </script>

  <script type="text/ng-template" id="/kampinschrijving.html">
    <div class="col-md-6 col-md-offset-3">
      <h3>Kamp Inschrijving</h3>
        <table>
          <tr>
            <td><h4>Lid info</h4></td>
          </tr>
          <tr>
            <td>Naam:</td>
            <td>{{inschrijving.lid.naam}} {{inschrijving.lid.voornaam}}</td>
          </tr>
          <tr>
            <td>rijksregisternummer:</td>
            <td>inschrijving.lid.rijksregisternummer</td>
          </tr>
          <tr>
            <td>adres:</td>
            <td>{{inschrijving.lid.adres.straat}} {{inschrijving.lid.adres.huisnummer}} {{inschrijving.lid.adres.bus}} {{inschrijving.lid.adres.gemeente}} {{inschrijving.lid.adres.postcode}}</td>
          </tr>
          <tr>
            <td><h4>Contactpersonen</h4></td>
          </tr>
          <tr>
            <td>naam</td>
            <td>email</td>
            <td>telefoonnummer</td>
          </tr>
          <tr ng-repeat="contactpersoon in inschrijving.lid.contactpersonen">
            <td>{{contactpersoon.naam}} {{contactpersoon.voornaam}}</td>
            <td>{{contactpersoon.email}}</td>
            <td>{{contactpersoon.telefoonnummer}}</td>
          </tr>
          <tr>
            <td><h4>inschrijving info</h4></td>
          </tr>
          <tr>
            <td>extra info:</td>
            <td>{{inschrijving.extraInformatie}}</td>
          </tr>
          <tr>
            <td>goedgekeurd:</td>
            <td>{{inschrijving.goedgekeurd}}</td>
          </tr>
          <tr>
            <td>betaald:</td>
            <td>{{inschrijving.betaald}}</td>
          </tr>
        </table>
        <div class="voeter">
          <button ng-click="goedgekeurd()" ng-show="isbeheerder() && !inschrijving.goedgekeurd" ng-style="{display: inline-block}" class="btn">Goedgekeurd</button>
          <button ng-click="betaald()" ng-show="isbeheerder() && inschrijving.goedgekeurd && !inschrijving.betaald" ng-style="{display: inline-block}" class="btn">Betaald</button>
        </div>
    <div/>
  </script>

</body>

</html>
