<div class="col-md-6 col-md-offset-3">

  <div id="owl-demo" class="owl-carousel owl-theme">

    <div class="item"><img ng-repeat="foto in fotos" ng-src="{{foto.url}}" alt="The Last of us"></div>
    <script>
      $(document).ready(function() {
        $("#owl-demo").owlCarousel({

            navigation : true, // Show next and prev buttons
            slideSpeed : 300,
            paginationSpeed : 400,
            singleItem:true

            // "singleItem:true" is a shortcut for:
            // items : 1,
            // itemsDesktop : false,
            // itemsDesktopSmall : false,
            // itemsTablet: false,
            // itemsMobile : false

        });

      });

    </script>

  </div>

  <h3 class='centered'>{{kamp.naam}}</h3>
  <table>

      <label>omschrijving:</label>
      <label>{{kamp.omschrijving}}</label>
    <tr>
      <td>straat:</td>
      <td>{{kamp.adres.straat}}</td>
    </tr>
    <tr>
      <td>huisnummer:</td>
      <td>{{kamp.adres.huisnummer}}</td>
    </tr>
    <tr>
      <td>bus:</td>
      <td>{{kamp.adres.bus}}</td>
    </tr>
    <tr>
      <td>postcode:</td>
      <td>{{kamp.adres.postcode}}</td>
    </tr>
    <tr>
      <td>gemeente:</td>
      <td>{{kamp.adres.gemeente}}</td>
    </tr>
    <tr>
      <td>start datum:</td>
      <td>{{kamp.startDatum}}</td>
    </tr>
    <tr>
      <td>einbd datum:</td>
      <td>{{kamp.eindDatum}}</td>
    </tr>
    <tr>
      <td>aantal dagen:</td>
      <td>{{kamp.aantalDagen}}</td>
    </tr>
    <tr>
      <td>aantal nachten:</td>
      <td>{{kamp.aantalNachten}}</td>
    </tr>
    <tr>
      <td>vervoer:</td>
      <td>{{kamp.vervoer}}</td>
    </tr>
    <tr>
      <td>formule:</td>
      <td>{{kamp.formule}}</td>
    </tr>
    <tr>
      <td>basis prijs:</td>
      <td>{{kamp.basisPrijs}}</td>
    </tr>
    <tr>
      <td>bond prijs:</td>
      <td>{{kamp.bondPrijs}}</td>
    </tr>
    <tr>
      <td>kortingen:</td>
      <td>{{kamp.kortingen}}</td>
    </tr>
    <tr>
      <td>in de prijs inbegrepen:</td>
      <td>{{kamp.inbegrepenInPrijs}}</td>
    </tr>
    <tr>
      <td>minimum leeftijd:</td>
      <td>{{kamp.minLeeftijd}}</td>
    </tr>
    <tr>
      <td>maximum leeftijd:</td>
      <td>{{kamp.maxLeeftijd}}</td>
    </tr>
    <tr>
      <td>maximum deelnemers:</td>
      <td>{{kamp.maxDeelnemers}}</td>
    </tr>
    <tr>
      <td>contacteer ons:</td>
      <td>{{kamp.contact}}</td>
    </tr>
</table>
</div>
