
body {
    font: 16px/1.4 Helvetica,
    Arial, Sans-serif;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.gallery h2 {
    width: 100%;
    color: #fff;
}

.pod {
    width: 31.3%;
    box-sizing: border-box;
    background: #fff;
    border-radius: 3px;
    margin-left: 1.5%;
    margin-bottom: 1.5%;
    box-shadow: 0 0 5px #33353A;
    font-size: 13px;
}
/*
.pod + .pod {
    margin-left: 1.5%;
}
/*
.pod:nth-child(3n+2) {
    margin-left:0;
}
*/
.pod img {
    max-width: 100%;
    vertical-align: bottom;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, .5);
}

.pod header {
    padding-bottom: 6px;
    overflow: hidden;
}

.pod p {
    padding: 10px;
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    .gallery {
        align-items: stretch;
    }
    .pod {
        width: 49%;
        margin-bottom: 2%;
    }
    .pod + .pod {
        margin-left: 2%;
    }
    .pod:nth-child(even) {
        margin-left: 0;
    }
}

@media screen and (max-width: 360px) {
    .gallery {
        display: block;
    }

    .pod {
        width: 100%;
        margin-bottom: 2%;
    }

    .pod + .pod {
        margin-left: 0;
    }
}
/*
#top {
  display: block;
  padding-top: 125px;
  position: relative;
  margin-bottom: 45px;
}

#top h1 a {
  display: block;
  width: 200px;
  height: 176px;
  position: absolute;
  top: 25px;
  left: 270px;
  margin: 0;
  padding: 0;
  z-index: 9999;
  text-indent: -9999px;
  background: url('/images/JoetzLogo.jpg') no-repeat;
  background-size: 200px 176px;
}
*/
#nav {
  display: block;
  width: 100%;
  list-style: none;
  padding: 0 10px;
  font-family: 'Montserrat Alternates', Helvetica, sans-serif;
}

#nav li { display: inline; line-height: 1.56em; }

#nav li a {
  display: block;
  float: left;
  font-size: 17px;
  font-weight: 700;
  text-transform: none;
  color: #E32517;
  text-shadow: 1px 1px 0 rgba(255,255,255,.85);
  text-decoration: none;
  margin-right: 13px;
  padding: 9px 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#nav li a:hover {
  color: #FF1100;
}
#nav li a.sel {
  color: #FFFFFF;
  background: #E32517;
}
#nav li a.sel:hover {
  border-bottom: 0;
  background: #FF1100;
  color: #FFFFFF;
}

#nav li a.midsection {
  margin-right: 220px;
}

.header {
  align-self: center;
  margin-bottom: 1.5%;
}

a:link, a:visited {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

a:link:active, a:visited:active {
    color: #000000 ;
    text-decoration: none;
    cursor: pointer;
}

label {
    font-weight: normal !important;
}
.centered{
  align-self: center;
}

#carousel img {
display: block;
opacity: .5;
cursor: pointer;
}

#carousel .flex-active-slide img {
opacity: 1;
cursor: default;
}

td {
    padding: 10px;
}

table {
    border-spacing: 10px;
    border-collapse: separate;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  color: #ffffff;
  border-radius: 28px;
  font-family: Arial;
  font-size: 20px;
  background: #E32517;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  color: #ffffff;
  background: #FF1100;
  text-decoration: none;
}

.voeter {
  margin-bottom: 1.5%;
}

.clickable tr {
    cursor: pointer;
}
